@media only screen and (min-width: 600px){
    h3{
        float: left;
        font-family: 'Righteous', cursive;
        color: #F9A826;
    }
    .mrgn{
        margin-top: 10px;
    }

    .anim{
        animation-name: anim;
        animation-duration: 10s;
        animation-timing-function: ease;
        font-size: 50px;
        animation-iteration-count: infinite;
    }
    .anim2{
        animation-name: anim2;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    .anim3{
        animation-name: anim3;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    .anim4{
        animation-name: anim4;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    .anim5{
        animation-name: anim5;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    .anim6{
        animation-name: anim6;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    .anim7{
        animation-name: anim7;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    @keyframes anim {
        0%{color: #536DFE;}
        14%{color: #536DFE;}
    }
    @keyframes anim2 {
        14%{color: #536DFE;}
        28%{color: #536DFE;}
    }
    @keyframes anim3 {
        28%{color: #536DFE;}
        42%{color: #536DFE;}
    }
    @keyframes anim4 {
        42%{color: #536DFE;}
        57%{color: #536DFE;}
    }
    @keyframes anim5 {
        57%{color: #536DFE;}
        70%{color: #536DFE;}
    }
    @keyframes anim6 {
        70%{color: #536DFE;}
        85%{color: #536DFE;}
    }
    @keyframes anim7 {
        85%{color: #536DFE;}
        100%{color: #536DFE;}
    }
    #clr{
        font-family: 'Righteous', cursive;
        color: #F9A826;
    }
    .fl-lft{
        float: right;
        margin-top: 0px;
    }
    .fl-lft ul li{
        float: left;
        margin-left: 20px;
        text-align: center;
        margin-right: 10px;
    }
    .fl-lft ul{
        list-style: none;
    }
    .nav-link{
        color: rgb(0, 248, 165);
        font-family: 'Fredoka One', cursive;
    }
    .home{
        border-style: solid;
        border-radius: 7px;
        padding: 10px;
        border-color: black;
        background-color: blueviolet;
        font-size: 20px;
        box-shadow: 0px 2px 2px 0px rgb(220, 247, 145);
    }
    .heading{
        margin-top: 0px;
    }
    .clear{
        clear: both;
    }
    .cont{
        margin-top: 20px;
    }
    .container{
        height: 500px;
        background-image: url("undraw_snow_games_ohkc.svg");
        overflow: auto;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .bg-img{
        background-image: linear-gradient(to right ,#8A2387 ,#E94057 ,#F27121);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 120px;
    }
    .sub{
        margin-left: 150px;
        margin-top: 100px;
        font-family: 'Fredoka One', cursive;;
        color: #536DFE;
    }
    #sub2{
        color: #00FFDE;
        font-size: 50px;
        font-family: 'Chelsea Market', cursive;
    }
    .mar{
        text-align: center;
        margin-left: 150px;
        margin-top: 0px;
    }
    .color{
        overflow: auto;
        background-image: url("undraw_trip_dv9f.svg");
        margin-top: 0px ,auto;
        background-repeat: no-repeat;
        background-position: top;
        width: 100%;
    }
    .stop{
        overflow: auto;
    }
    .card{
        box-shadow: 0px 4px 4px 0px black;
    }
    .card:hover{
        box-shadow: 0px 12px 12px 0px black;
        transition-timing-function: ease;
        transition-duration: 1s;
    }
    .card-body{
        background-image: linear-gradient(to right ,#A1FFCE ,#FAFFD1);
        border-radius: 8px;
    }
    .sighn{
        font-family: 'Amatic SC', cursive;
        font-size: 20px;
    }
    .up{
        margin-left: 350px;
        margin-top: 50px;
        font-family: 'Concert One', cursive;
        font-size: 25px;
    }
    .btn{
        border-radius: 20px;
    }
    .carousel-item{
        background-image: linear-gradient(to right ,#005AA7 ,#FFFDE4);
        border-radius: 10px;
    }
    .hd{
        color: black;
    }
    .foot{
        overflow: auto;
    }
    .foot2{
        background-image: linear-gradient(to right ,#485563 ,#29323c);
        overflow: auto;
    }
    .foot2 img{
        margin-top: 20px;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        margin-left: 20px;
    }
    .mrn{
        margin-top: 20px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px){
    h3{
        float: left;
        font-family: 'Righteous', cursive;
    }
    .mrgn{
        margin-top: 10px;
        margin-left: 0px;
    }
    
    .fl-lft{
        float: right;
        margin-top: 10px;
    }
    .fl-lft ul li{
        float: left;
        margin-left: 0px;
        text-align: center;
       margin-left: 3px;
    }
    .fl-lft ul{
        list-style: none;
    }
    .fl-lft ul li a{
        color: rgb(0, 248, 165);
        font-family: 'Fredoka One', cursive;
    }
    .home{
        border-style: solid;
        border-radius: 7px;
        padding: 10px;
        border-color: black;
        background-color: blueviolet;
        font-size: 15px;
        box-shadow: 0px 2px 2px 0px rgb(220, 247, 145);
    }
    
    .clear{
        clear: both;
    }
    .container{
        height: 450px;
        background-image: url("undraw_typewriter_i8xd.svg");
        overflow: auto;
        background-position: left;
        background-size: 500px 500px;
        background-repeat: no-repeat;
    }
    .anim{
        animation-name: anim;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    .anim2{
        animation-name: anim2;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    .anim3{
        animation-name: anim3;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    .anim4{
        animation-name: anim4;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    .anim5{
        animation-name: anim5;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    .anim6{
        animation-name: anim6;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    .anim7{
        animation-name: anim7;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    @keyframes anim {
        0%{color: #536DFE;}
        14%{color: #536DFE;}
    }
    @keyframes anim2 {
        14%{color: #536DFE;}
        28%{color: #536DFE;}
    }
    @keyframes anim3 {
        28%{color: #536DFE;}
        42%{color: #536DFE;}
    }
    @keyframes anim4 {
        42%{color: #536DFE;}
        57%{color: #536DFE;}
    }
    @keyframes anim5 {
        57%{color: #536DFE;}
        70%{color: #536DFE;}
    }
    @keyframes anim6 {
        70%{color: #536DFE;}
        85%{color: #536DFE;}
    }
    @keyframes anim7 {
        85%{color: #536DFE;}
        100%{color: #536DFE;}
    }
    .sub{
        margin-left: 10px;
        margin-top: 100px;
        font-family: 'Fredoka One', cursive;;
        color: #536DFE;
    }
    #sub2{
        color: #00FFDE;
        font-size: 50px;
        font-family: 'Chelsea Market', cursive;
    }
    .bg-img{
        
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 120px;
    }
    .mar{
        text-align: center;
        margin-left: 50px;
        margin-top: 0px;
    }
    .card{
        margin-top: 10px;

    }
    .card:hover{
        box-shadow: 0px 12px 12px 0px rgb(51, 43, 43);
        transition-timing-function: ease;
        transition-duration: 1s;
    }
    .card-body{
        
        border-radius: 8px;
    }
    .color{
        background-image: url("undraw_trip_dv9f.svg");
    }
    
    .heading{
        margin-left: 5px;
        margin-top: 20px;
    }
    .anim{

    }
    .stop{
        overflow: auto;
    }
    .up{
        margin-left: 50px;
        margin-top: 50px;
        font-family: 'Concert One', cursive;
        font-size: 25px;
        color: rgb(255, 230, 0);
    }
    .btn{
        border-radius: 20px;
    }
    .carousel-item{
        background-image: linear-gradient(to right ,#C33764 ,#1D2671);
        border-radius: 10px;
    }
    .hd{
        color: black;
    }
    .d-block{
        height: 200px;
    }
    .foot{
        overflow: auto;
        height: 200px;
        width: 100%;
    }
    .foot2{
        background-image: linear-gradient(to right ,#485563 ,#29323c);
        overflow: auto;
    }
    .foot2 img{
        margin-top: 20px;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        margin-left: 20px;
        float: left;
    }
    .mrn{
        margin-top: 20px;
    }
    h1{
        font-size: smaller;
        color: antiquewhite;
    }
}